<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <style type="text/css" rel="stylesheet">
        #homework-container
        {
            position: absolute;
        }
        .draggable-div
        {
            position: relative;
        }
    </style>
</head>
<body></body>
</html>
